<div class="dashboard">

<h1 class="mt-4">Your Profile</h1>
<p class="lead mb-3">Welcome <%= name %></p>
<a href="/users/logout" class="btn btn-danger">Logout</a>

<a href="/" class="btn btn-primary">home</a>

</div>
