<div class="row mt-3">
  <div class="col-md-3">
    <div class="card card-body ">
     
      <a href="/users/register" class="btn btn-success btn-block mb-2"
        >Register</a
      >
      
    </div>
  </div>


  <div class="col-md-3">
    <div class="card card-body ">
      
      
      <a href="/users/login" class="btn btn-danger btn-block">Login</a>
    </div>
  </div>


  <div class="col-md-3">
    <div class="card card-body ">
    
      
      <a href="/dashboard" class="btn btn-primary btn-block">Profile</a>
    </div>
  </div>

  <div class="col-md-3">
    <div class="card card-body ">
      
      
      <a href="/" class="btn btn-info ">members</a>
    </div>
  </div>

</div>


  <div class="col-md-3 mx-auto">
    <div class="card card-body ">
      
      
      <a href="/users/post" class="btn btn-warning btn-block">Post</a>
    </div>
  </div>

</div>

  

<hr>

<div class="alert alert-success">
  <strong>HEllO!, <h5> Name: <%= name %> </h5> Our posts!</strong> Register/login to post
</div>
<hr>


  <div class="container">
  <% allPosts.forEach(mesage => { %>
       
    <div class="card card-body"> 
    
     <h6> tittle: <%= mesage.name %> </h6>
      <p> Message: <%= mesage.description %> </p>
      </div>    
 

     <% }) %>
    
  </div>


  </div>
</div>
<hr>

<div class="alert alert-dark text-center" role="alert">
  <h3> Members Club </h3>
</div>


<div class="alert alert-primary text-center" role="alert">
  Made By <a href="https://github.com/ian-yitzhak" class="alert-link">Ian</a>. Give it a click if you like.
</div>
