<div class="row mt-3">
  <div class="col-md-3">
    <div class="card card-body ">
      <h1><i class="fab fa-node-js fa-3x"></i></h1>
      <a href="/users/register" class="btn btn-success btn-block mb-2"
        >Register</a
      >
      
    </div>
  </div>


  <div class="col-md-3">
    <div class="card card-body ">
      <h1><i class="fab fa-node-js fa-3x"></i></h1>
      
      <a href="/users/login" class="btn btn-danger btn-block">Login</a>
    </div>
  </div>


  <div class="col-md-3">
    <div class="card card-body ">
      <h1><i class="fab fa-node-js fa-3x"></i></h1>
      
      <a href="/users/post" class="btn btn-danger btn-block">Post</a>
    </div>
  </div>

</div>

<hr>

<div class="alert alert-success">
  <strong>Our posts!</strong> Register/login to post
</div>
<hr>

